.navbar-default {
  height: 70px;
  border-radius: 0;
}

.navbar a.dropdown-toggle {
  font-size: 18px;
}

.navbar-nav a .profile-picture {
  width: 50px;
  float: left;
  margin: -5px 5px 0;
  border: 1px solid #CCCCCC;
}

.navbar a.dropdown-toggle:hover .profile-picture {
  border-color: #000000;
}

.navbar .navbar-nav>li>a {
  line-height: 40px;
}

.navbar .navbar-btn {
  padding-top: 10px;
}

.navbar-header .navbar-brand  {
  font-size: 24px;
  color: #37B5DB;
  line-height: 28px;
}

.navbar-header .slogan {
  position: relative;
  display: inline-block;
  bottom: 10px;
}

.navbar .navbar-brand:hover {
  color: #27819C;
}

.navbar .navbar-form {
  padding-top: 10px;
}


.jumbotron {
  background-color: #37B5DB;
  color: #FFFFFF;
  border-radius: 20px;
  margin-top: 30px;
}

.jumbotron .login {
  font-size: 14px;
  color: #EEEEEE;
}

body {
  height: 100%;
}

footer {
  width: 100%;
  color: #FFFFFF;
  background-color: #267E99;
  margin-top: 100px;
  padding: 4px;
}

table tr {
  font-size: 18px;
}