<div class="container">
  <h1>
    Create A New Survey:
  </h1>
    <form action="/surveys" method="POST">
    <br/>
    <div class="questions">
      <%= erb :"surveys/questions/_form", locals: { questions: @question } %>
    </div>
    <br/>
    <a id="newQuestion" href="#">+NEW QUESTION</a> <!--To append a new question-->
    <br/>
    <hr>
    <input type="submit" value="Create!">
  </form>
</div>
