<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">Create a Survey</div>
      <div class="panel-body">
        <form class="col-md-8 col-md-offset-2" action="/surveys" method="POST">
          <div class="questions">
            <%= erb :"surveys/questions/_form", locals: { questions: @question } %>
          </div>
          <a id="newQuestion" class="btn btn-success" href="#">+NEW QUESTION</a> <!--To append a new question-->
          <button class="btn btn-primary" type="submit">Create!</button>
          <a class="btn btn-default" href="/surveys/new">Reset</a>
        </form>
      </div>
    </div>
  </div>
</div>
