
<div class="form-group row">
  <label for="answer" class="control-label col-md-2">Answer</label>
  <div class="col-md-10">
    <input class="form-control" type="text" name="answers[]" placeholder="Your answer here">
  </div>
</div>