<div class="form-group row">
  <label for="question" class="control-label col-md-2">Question</label>
  <div class="col-md-10">
    <input class="form-control" type='text' name='question' placeholder="what is your question?"/>
  </div>
</div>
<div class="answers">
  <%= erb :"surveys/answers/_form", locals: { answers: @answers } %>
</div>
<a id="newAnswer" class="btn btn-warning btn-md" href="#">Add Answer</a> <!--To append a new answer partial-->
<hr />