<form action = "/questions/<%=@question.id%>" method = "POST">
  <input name="_method" type="hidden" value="PUT"/>
  <label for="content">Question:</label>
  <input id="question_content" type="text" name="question[content]" value="<%= @question.content %>" size=60/>
</form>
