<div class="jumbotron container-fluid text-center">
  <h1>You need answers. We help you get them.</h1>
  <p>Sign up for an account today to start soliciting the feedback you need from your customers.</p>
  <br />
  <br />
  <p><a class="btn btn-default btn-lg" href="/signup">Create an Account</a>
    <br />
    <a class="login" href="/login">Existing users login here</a></p>
</div>
