<div class="jumbotron container text-center">
  <h1>You need answers. We help you get them.</h1>
  <p>Sign up for an account today to start soliciting the feedback you need from your customers.</p>
  <br />
  <br />
  <p><a class="btn btn-default btn-lg" href="/signup">Create an Account</a>
    <br />
    <a class="login" href="/login">Existing users login here</a></p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Custom Survey Creation</h3>
      <p>You can create custom surveys on the fly, with our dynamic Squirrelvey generator.</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Track Responses</h3>
      <p>We offer response tracking that allows you to see the results when you need them.</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Free. Free. Free.</h3>
      <p>Squirrelveys is completely free and always will be. Forever.</p>
    </div>
  </div>
</div>
