<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!-- Bootstrap Theme -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">SQUIRRELVEYS</a>
        <span class="slogan">Customer feedback just got easier.</span>
      </div>

      <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.full_name.upcase %> ▾</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/profile">My Surveys</a></li>
            <li><a href="/surveys/new">Create a new survey</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      <% else %>
      <form class="navbar-form navbar-right" action="/login" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="email" placeholder="name@domain.com" />
          <input class="form-control" type="password" name="password" placeholder="password" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <% end %>

    </div>
  </nav>

  <% if flash[:notice] %>
  <div class="row">
    <div class="alert alert-dismissible alert-info col-md-6 col-md-offset-3">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:notice] %>
    </div>
  </div>
  <% elsif flash[:error] %>
  <div class="row">
    <div class="alert alert-dismissible alert-danger col-md-6 col-md-offset-3">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:error] %>
    </div>
  </div>
  <% end %>

  <%= yield %>
  <footer class="container-fluid text-center">
    &copy; 2015 SQUIRRELVEYS | Customer feedback just got easier.
  </footer>
</body>
</html>
